html {
  width: 100%;
}

body {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 40px;
  background-color: #ced4da;
  padding-bottom: 100px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

section {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
}

#navbar {
  width: 100%;
  z-index: 1;
}

.myNav {
  width: 100%;
  height: 50px;
}
.myNav__links {
  margin-left: 25%;
}
.myNav__links-items {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.myNav__links-items-dropdown-list-a {
  scroll-behavior: smooth;
  color: #f8f9fa;
}
.myNav__links-items-dropdown-list-a:hover {
  color: #343a40;
}
.myNav__links-items-dropdown-list-a:active {
  background-color: #e9ecef;
}
.myNav__links-items-dropdown-list-p {
  color: #f8f9fa;
  margin: 0;
}
.myNav__links-items-dropdown-list-p:hover {
  background-color: #212529;
  color: #f8f9fa;
}

.presentation {
  width: 80%;
}
.presentation__div {
  justify-content: space-between;
}
.presentation__div-motivation {
  line-height: 25px;
  height: 100%;
}
.presentation__div-motivation-title {
  margin-left: 10%;
  margin-bottom: 20px;
}
.presentation__div-motivation p {
  text-align: justify;
}
.presentation__div-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 15px solid;
  border-image: linear-gradient(#0b2c6e, #897d2f) 10;
  padding: 20px;
  height: 100%;
}
.presentation__div-about-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.presentation__div-about-head-title {
  margin-top: 40px;
  margin-left: 5%;
  font-size: 35px;
}
.presentation__div-about-head-img {
  width: 30%;
  position: relative;
  right: 0;
}
.presentation__div-about-infos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.presentation__div-about-infos-langages i {
  font-size: xx-large;
}

@media screen and (min-width: 1300px) {
  .presentation__div-motivation {
    line-height: 33px;
  }
  .presentation__div-about-head-title {
    font-size: 40px;
    margin-left: 10%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .presentation {
    width: 100%;
  }
  .presentation__div {
    flex-direction: column-reverse;
    height: 120%;
    justify-content: space-between;
  }
  .presentation__div-motivation {
    padding-top: 100px;
  }
  .presentation__div-about-infos {
    font-size: x-large;
  }
}
.projects {
  margin-top: 60px;
}
.projects__title {
  margin-left: 10%;
  margin-bottom: 30px;
}
.projects__project {
  margin-bottom: 60px;
}
.projects__project-title {
  margin-bottom: 20px;
}
.projects__project-description i {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.projects__project-images-img {
  transition: all 1s ease;
  padding-bottom: 30px;
}
.projects__project-images-img:hover {
  transform: scale(1.5);
}
.projects__project-list {
  margin-left: 2%;
}
.projects__project-link {
  overflow-wrap: break-word;
}

@media screen and (max-width: 992px) {
  .projects__project-images-img {
    margin-bottom: 20px;
  }
  .projects__project-images-img:hover {
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=style.css.map */
